[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
analytics-zoo = "*"
numpy = "*"
scipy = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
wordcloud = "*"
jupyter = "*"

[requires]
python_version = "3.6"
